
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
 position: relative;   
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100vh;
    z-index: 2;
    
}



header div {
    display: none;
    width: 150px;
    height: 150px;
    margin: 20px;
    background-position: center;
    background-size: cover;
}

.red{
    background-image: url(../btn/rojo.png);
}

.yellow{
    background-image: url(../btn/amarillo.png);
}

.green{
    background-image: url(../btn/verde.png);
}

header:hover{
    background-color: rgba(255,189,74, 0.5);
}


header:hover .red{
    display: block;
}
header:hover .yellow{
    display: block;
}
header:hover .green{
    display: block;
}



.section1{

    width: 100vw;
    height: 100vh;
    max-width: 1400px;
    background-image: url(../images/backg_home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.image__home{
    margin-left: 60px;
    margin-top: 95px;
}